<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vista de Tabla Autos</title>
</head>
<body>
<h1>Tabla de Autos</h1>
<table id="table-personal">
    <tr>
        <th>Modelo</th>
        <th>Color</th>
        <th>Kilometraje</th>
        <th>Costo*Día</th>
        <th>Sede</th>
    </tr>
    <tr th:each="auto : ${listaAutos}">
        <td th:text="${Autos.modelo}"></td>
        <td th:text="${Autos.color}"></td>
        <td th:text="${Autos.kilometraje}"></td>
        <td th:text="${Autos.costo_dia}"></td>
        <td th:text="${Autos.sede}"></td>
    </tr>
</table>
</body>
</html>